.rubrique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 60px;
  flex-wrap: wrap;
}

.link {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-right: 10%;
}

.link a {
  text-decoration: none;
  color: #c8a96b;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s ease;
}

.link a:hover {
  color: white;
}

.logo {
  width: 240px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.03);
}

/* Responsive simple */
@media screen and (max-width: 768px) {

  .rubrique {
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .link {
    justify-content: center;
    gap: 44px;
    flex-wrap: nowrap;
    margin-left: 3%;
  }

  .link a {
    font-size: 16px;
  }

  .logo {
    width: 180px;
  }
}

/* footer*/

.footer {
  background: #050505;
  padding: 35px 8% 20px;
  text-align: center;
  border-top: 1px solid rgba(200, 169, 107, 0.25);
}

.footerLogo img {
  width: 110px;
  margin-bottom: 15px;
}

.footerInfos {
  color: #d8d8d8;
  font-size: 15px;
  line-height: 1.3;
}

.footerInfos p {
  margin: 10px 0;
}

.copyright {
  margin-top: 20px;
  color: #777;
  font-size: 11px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 20px 15px;
  }

  .footerLogo img {
    width: 90px;
  }

  .footerInfos {
    font-size: 14px;
  }
}